<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="URL_SERVER" value="https://srv-app04.cordoba.local/WS_ProyectoBase" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <!-- Como va en internet no lleva proxy -->
    <defaultProxy xdt:Transform="Remove" />
  </system.net>
</configuration>