<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <!-- Servidor -->
    <add key="URL_SERVER" value="https://servicios2.cordoba.gov.ar/WS_ProyectoBase" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Vecino Virtual -->
    <add key="URL_LOGIN" value="https://servicios2.cordoba.gov.ar/VecinoVirtualUtils_Internet/Acceder?Subtitulo=Proyecto base&amp;url=https://servicios2.cordoba.gov.ar/ProyectoBase" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Cordoba Files -->
    <add key="URL_CORDOBA_FILES" value="https://servicios2.cordoba.gov.ar/CordobaFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!-- Como va en internet no lleva proxy -->
  <system.net>
    <defaultProxy xdt:Transform="Remove" />
  </system.net>

  <!-- Como va en el servidor no lleva fileExtension=".json" -->
  <system.webServer xdt:Transform="Replace">
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>