<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Base: produccion (true) - local (false) -->
    <add key="DEPLOY" value="false" />

    <!-- App -->
    <add key="APP_NAME" value="Nombre" />
    <add key="APP_KEY" value="AGREGAR_KEY" />

    <!-- Vecino Virtual -->
    <add key="APP_KEY_VECINO_VIRTUAL" value="AGREGAR_KEY" />
    <add key="URL_WS_VECINO_VIRTUAL" value="https://srv-app04.cordoba.local/WSVecinoVirtual" />

    <!-- Cordoba Geo -->
    <add key="URL_CORDOBA_GEO_API" value="https://srv-app04.cordoba.local/CordobaGeoApi" />

    <!-- Cordoba Files -->
    <add key="API_KEY_CORDOBA_FILES" value="AGREGAR_KEY" />
    <add key="URL_WS_CORDOBA_FILES" value="https://srv-app04.cordoba.local/CordobaFilesApi" />
  </appSettings>

  <connectionStrings>
    <!-- DB Produccion -->
    <add name="DB" connectionString="Data Source=SRV-SQL04\SQLMUNI04;Initial Catalog=RequerimientosCiudad;Persist Security Info=True;User ID=requerimientosUser;Password=RequErim1ento$" />
    <!-- DB Test -->
    <add name="DB_TEST" connectionString="Data Source=SRV-SQL16-TEST\SQL16TEST;Initial Catalog=RequerimientosCiudad;Persist Security Info=True;User ID=requerimientosUser;Password=RequErim1ento$" />
  </connectionStrings>

  <system.net>
    <!-- Mail-->
    <mailSettings>
      <smtp from="noresponder@cordoba.gov.ar">
        <network host="172.16.39.15" port="25" />
      </smtp>
    </mailSettings>

    <!--Proxy-->
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://172.16.39.10:8080" />
    </defaultProxy>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>